@charset "UTF-8";
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.logo {
  border-radius: 8px;
}

.red {
	color: red;
}

.form-register {
    max-width: 750px;
    padding: 15px;
}

.form-register .form-floating:focus-within {
    z-index: 2;
}
